body {
    background-color: #070a13;
    margin: 0px;
    padding: 0px;
    /* background-color: #070a13; */
}

header {
    background-color: #070a13;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white
}


.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #94a3b8;
    padding: 6px 15px;
    transition: color 0.3s ease;

    margin-left: 20px;
    font-size: 0.9rem;

}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #94a3b8;

    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    /* background-color: #ffff; */
}

span {
    /* font-size: 23px; */
    display: none;
}

@media (max-width: 427px) {

    span {

        display: block;

    }

    .toggleBtn {
        color: #94a3b8;
        font-size: 28px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #0a0f1c;
        width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
        transition: all 0.3s ease-in-out;
    }

    .nav-links.show {
        display: flex;
    }

}